---
layout: page
title: "About"
description: "Hey, this is Jason Wang"
header-img: "assets/header_img/post.jpg"
multilingual: true
---

<!-- Language Selector -->
{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}
        {% include about/zh.md %}
    {% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}
        {% include about/en.md %}
    {% endcapture %}
    {{ about_en | markdownify }}
</div>

